#reset {
  list-style: circle outside;
  margin: initial;
}

#reset li {
  display: block;
  padding: initial;
  background-color: initial;
  color: inherit;
  transform: initial;
  border: initial;

}