#reset {
  list-style: circle outside;
  margin: initial;
  margin-left: 75px;
  font-size: 14px;
}

#reset li {
  display: block;
  padding: initial;
  background-color: initial;
  color: inherit;
  transform: initial;
  border: initial;
}

#node-topics {
  text-align: left;
}
