* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

/* Non-mobile, grid */
@media (min-width: 768px) {
  .col-1 {width: 8.2%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  background-color: #657075;
  color: #626E73;
  opacity: 0;
}

nav {
  padding: 5px 20px;
  background-color: white;
}

nav img {
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}

nav .name {
  display: inline-block;
  position: relative;
  top: -1em;
}

nav h1 {
  color: #657075;
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 3px;
}

nav h4 {
  color: #A7ACAE;
  font-size: 14px;
}

h4 {
  margin: 0;
}

@media (min-width: 480px) {
  nav h1 {
    margin-bottom: 3px;
  }
}

.links {
  float: none;
  list-style: none;
  font-size: 24px;
  color: black;
  margin: 0;
  margin-left: 65%;
  margin-right: 5px;
  margin-top: -15px;
  padding: 0;
}

@media (min-width: 480px) {
  .links {
    float: right;
    list-style: none;
    font-size: 24px;
    color: black;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    margin-top: 15px;
  }
}

.links a:visited {
  color: black;
}

.links li {
  display: inline-block;
  margin: 5px;
}

.skills {
  font-size: 14px;
}

.profile {
  background-color: #fff;
}

.profile p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.info {
  
}

.bio, .portrait {
  display: inline-block;
}

.bio {
  font-size: 14px;
}

.portrait {

}

.portrait img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.footer {
  font-size: 9px;
  margin-top: 2em !important;
}

/* Development
section {
  outline: 1px solid black;
} */

/*
 * ANIMATIONS / TRANSITIONS
 */
.body-fade-in {
	opacity: 0;
	animation: .55s ease-out .5s forwards fadeInBody;
}

/* keyframes */
@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}
