* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

/* Non-mobile, grid */
@media (min-width: 768px) {
  .col-1 {width: 8.2%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  background-color: #657075;
  color: #626E73;
  opacity: 0;
}

nav {
  padding: 5px 20px;
  background-color: white;
}

nav img {
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}

nav .name {
  display: inline-block;
  position: relative;
  top: -1em;
}

nav h1 {
  color: #657075;
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 3px;
}

nav h4 {
  color: #A7ACAE;
  font-size: 14px;
}

h4 {
  margin: 0;
}

@media (min-width: 480px) {
  nav h1 {
    margin-bottom: 3px;
  }
}

.links {
  float: none;
  list-style: none;
  font-size: 24px;
  color: black;
  margin: 0;
  margin-left: 65%;
  margin-right: 5px;
  margin-top: -10px;
  padding: 0;
}

.links a {
  color: #657075;
}

.fa-file-pdf-o {
  transform: scale(.85);
}

@media (min-width: 540px) {
  .links {
    float: right;
    list-style: none;
    font-size: 24px;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    margin-top: 23px;
  }
}

@media (max-width: 540px) {
  .links {
    margin: 0 auto;
    margin-top: -15px;
  }
  nav {
    text-align: center;
  }
  nav .name {
    margin-top: 10px;
  }
}

.links a:visited {
  color: #657075;
}

.links li {
  display: inline-block;
  margin: 5px;
}

/*

  TWO-COLUMN DIVS

*/
.twocolumn {
  max-width: 820px;
  margin: 0 auto;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.twocolumn h1 {
  text-align: left;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-top: 1em;
  position: relative;
}

.twocolumn h1::after {
  content: "";
  width: 28px;
  height: 6px;
  position: absolute;
  background-color: #5f6e74;
  bottom: -20px;
  left: 3px;
}

.twocolumn p {
  padding: 0px 40px;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

.twocolumn .projects {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

/*
  THREE COLUMN DIVS
*/

.threecolumn {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.threecolumn h4 {
  text-align: center;
}

.threecolumn ul {
  list-style: none;
  margin: 5px;
  padding: 10px;
}

.threecolumn li {
  margin-bottom: 10px;
}

.skill img {
  width: 75px;
}

#mocha {
  width: 58px;
}

#chai {
  width: 50px;
}

.footer {
  font-size: 10px;
  margin-top: 2em !important;
  text-align: center;
  color: white;
}

/* Development
section {
  outline: 1px solid black;
} */

/*
 * ANIMATIONS / TRANSITIONS
 */
.body-fade-in {
	opacity: 0;
	animation: .55s ease-out .5s forwards fadeInBody;
}

/* keyframes */
@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}
