@media (min-width: 480px) {
  .Card {
    width: 400px !important;
  }
}

.Card {
  background-color: white;
  position: relative;
  margin: 10px;
  text-align: left;
  width: 90%;
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  outline: 1px solid rgba(0,0,0,.05);
}

.Card img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
}

.Card .card-title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin: 16px 0 10px 18px;
}

.Card .card-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  left: 0;
  bottom: -15px;
  background-color: #626E73;
}

.Card .description {
  font-size: 16px;
  margin: 26px 18px 0px 18px;
}

.Card ul {
  list-style: none;
  padding-left: 10px;
  margin: 0 0 0 18px;
  padding: 0;
  color: #babfc1;
}

.Card li {
  font-size: 9px;
  display: inline-block;
  margin-right: 5px;
  padding: 3px;
}


.Card button {
  margin-top: 20px;
  display: block;
  position: absolute;
  bottom: 18px;
  border: none;
  background-color: #5F6E74;
  font-size: 10px;
  padding: 8px;
  color: #F1F2F2;
  margin-left: 18px;
}
