.Card {
  height: 300px;
  position: relative;
  padding: 10px;
}

.Card .card-title {
  background-color: #999;
  text-align: left;
  margin-bottom: 5px;
}

.Card img {
  display: block;
  margin: 0 auto;
}

.Card button {
  margin-top: 20px;
}